body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #002365;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #eaeaea;
    padding: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-section {
    margin-top: 20px;
}

.menu-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #002365;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab.active {
    background-color: #002365;
    color: white;
}

.video-set {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002365;
    color: white;
    text-decoration: none;
}